In [1]:
# LTC_1_notebook/notebooks/FinderData.ipynb
# importing some libraries
import pandas as pd

In [2]:
def OpenerCouneterRows(path):
    """
    path: str Путь до файла .xlsx
    rerurn: data_exel DataFrame
            ncols list 
    
    Функция возвращает нам DataFrame в виде 
    исходного DataFrame с конкретными номерами
    столбцов, т.к. у исходного их нет
    """
    data_excel_head = pd.read_excel(path, nrows=50)
    ncols_data = data_excel_head.shape[1]
    ncols = []
    for col in range(ncols_data):
        ncols.append('Col{}'.format(col))

    data_excel = pd.read_excel(path, names=ncols)
    
    return data_excel, ncols

path = '/home/sergey/PycharmProjects/LTC_1_notebook/exel_data/Chapter_1_buildibgs.xlsx'

data_excel, ncols = OpenerCouneterRows(path)

In [6]:
data_excel[12:22]

,Col0,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,...,Col11,Col12,Col13,Col14,Col15,Col16,Col17,Col18,Col19,Col20
12,Раздел 1.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1,NaN,1.1-3101-1-1/1,NaN,Разработка грунта внутри здания в котлованах,NaN,100 м3,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,ЗП,NaN,NaN,NaN,126583.26,NaN,...,1,NaN,NaN,1,1,126583.26,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,ЭМ,NaN,NaN,NaN,98.79,NaN,...,1,NaN,NaN,1,1,98.79,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,в т.ч. ЗПМ,NaN,NaN,NaN,74.99,NaN,...,1,NaN,NaN,1,1,"(74,99)",NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,МР,NaN,NaN,NaN,15867.13,NaN,...,1,NaN,NaN,1,1,15867.13,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,НР от ЗП,NaN,%,70,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,88608.28,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,СП от ЗП,NaN,%,10,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12658.33,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,"НР и СП от ЗПМ (78,00% и 30,00%)",NaN,%,108,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,80.99,NaN,NaN,NaN,NaN

In [31]:
import re

In [66]:
for row, column in data_excel[10:15].iterrows():
    for i in range(len(column)):
        #print(row, column[i])
        if re.search(r'\bРаздел\b', str(column[i])):
            # Нашли начало раздела
            # Теперь необходимо из раздела вытащить нужгные данные
            # print(column)
            print(row)

12

In [33]:
def searcher_row_razdel(data):
    """
    data: dataframe
    return: row (int)
    
    Функция ищет строчку, в которой находится №пп для того,
    чтобы потом взять эту строчку и вытянуть из нее необходимую
    шапку для будующей таблицы
    """

    for row, column in data[10:12].iterrows():
        for i in range(len(column)):
            # print(row, column[i])
            if re.search(r'\bРаздел\b') in str(column[i]):
                return row

In [34]:
row_razdel = searcher_row_razdel(data_excel)

TypeError: search() missing 1 required positional argument: 'string'

In [30]:
print(row_razdel)

None

In [ ]:
def target_columns(data, num_row):
    string = data.loc[num_row].dropna().to_list()
                
    return string