In [19]:
# LTC_1_notebook/notebooks/OpenerAndParserExel.ipynb
# importing some libraries
import pandas as pd

In [69]:
def OpenerCouneterRows(path):
    # открываем верхнюю часть файла
    # смотрим количество столбцов, создаем список столбцов
    # удаляем часть файла
    # открывам файл заново с нормальной конфигурацией строк

    data_excel_head = pd.read_excel(path, nrows=50)
    ncols_data = data_excel_head.shape[1]
    ncols = []
    for col in range(ncols_data):
        ncols.append('Col{}'.format(col))

    data_excel = pd.read_excel(path, names=ncols)
    
    return data_excel, ncols

In [70]:
path = '/home/sergey/PycharmProjects/LTC_1_notebook/exel_data/Chapter_1_buildibgs.xlsx'

data_excel, ncols = OpenerCouneterRows(path)

In [94]:
data_excel[4:14]['Col0'].str.contains(r'№пп')

4       NaN
5       NaN
6     False
7      True
8       NaN
9       NaN
10    False
11      NaN
12    False
13      NaN
Name: Col0, dtype: object

In [112]:
data_excel.shape[0]

246694

In [143]:
for row, column in data_excel[0:10].iterrows():
    print(column)
    print(column.dtype)
    print(True if '№пп' in column else False)
    print()

Col0     ЛОКАЛЬНАЯ СМЕТА №
Col1                    NaN
Col2                    NaN
Col3                    NaN
Col4                    NaN
Col5                    NaN
Col6                    NaN
Col7                    NaN
Col8                    NaN
Col9                    NaN
Col10                   NaN
Col11                   NaN
Col12                   NaN
Col13                   NaN
Col14                   NaN
Col15                   NaN
Col16                   NaN
Col17                   NaN
Col18                   NaN
Col19                   NaN
Col20                   NaN
Name: 0, dtype: object
object
False

Col0     (локальный сметный расчет)
Col1                            NaN
Col2                            NaN
Col3                            NaN
Col4                            NaN
Col5                            NaN
Col6                            NaN
Col7                            NaN
Col8                            NaN
Col9                            NaN
Col10                           NaN
Col11                           NaN
Col12                           NaN
Col13                           NaN
Col14                           NaN
Col15                           NaN
Col16                           NaN
Col17                           NaN
Col18                           NaN
Col19                           NaN
Col20                           NaN
Name: 1, dtype: object
object
False

Col0     на
Col1
Col2     NaN
Col3     NaN
Col4     NaN
Col5     NaN
Col6     NaN
Col7     NaN
Col8     NaN
Col9     NaN
Col10    NaN
Col11    NaN
Col12    NaN
Col13    NaN
Col14    NaN
Col15    NaN
Col16    NaN
Col17    NaN
Col18    NaN
Col19    NaN
Col20    NaN
Name: 2, dtype: object
object
False

Col0                                                   NaN
Col1     (наименование работ и затрат, наименование объ...
Col2                                                   NaN
Col3                                                   NaN
Col4                                                   NaN
Col5                                                   NaN
Col6                                                   NaN
Col7                                                   NaN
Col8                                                   NaN
Col9                                                   NaN
Col10                                                  NaN
Col11                                                  NaN
Col12                                                  NaN
Col13                                                  NaN
Col14                                                  NaN
Col15                                                  NaN
Col16                                                  NaN
Col17                                                  NaN
Col18                                                  NaN
Col19                                                  NaN
Col20                                                  NaN
Name: 3, dtype: object
object
False

Col0                   NaN
Col1                   NaN
Col2                   NaN
Col3                   NaN
Col4                   NaN
Col5                   NaN
Col6                   NaN
Col7                   NaN
Col8                   NaN
Col9                   NaN
Col10                  NaN
Col11                  NaN
Col12    Сметная стоимость
Col13                  NaN
Col14                  NaN
Col15                  NaN
Col16                  NaN
Col17          2240845.636
Col18                  NaN
Col19                  NaN
Col20             тыс.руб.
Name: 4, dtype: object
object
False

Col0                          NaN
Col1                          NaN
Col2                          NaN
Col3                          NaN
Col4                          NaN
Col5                          NaN
Col6                          NaN
Col7                          NaN
Col8                          NaN
Col9                          NaN
Col10                         NaN
Col11                         NaN
Col12                         NaN
Col13    Средства на оплату труда
Col14                         NaN
Col15                         NaN
Col16                         NaN
Col17                         NaN
Col18                  700949.489
Col19                         NaN
Col20                    тыс.руб.
Name: 5, dtype: object
object
False

Col0     Составлен(а) в уровне текущих (прогнозных) цен...
Col1                                                   NaN
Col2                                                   NaN
Col3                                                   NaN
Col4                                                   NaN
Col5                                                   NaN
Col6                                                   NaN
Col7                                                   NaN
Col8                                                   NaN
Col9                                                   NaN
Col10                                                  NaN
Col11                                                  NaN
Col12                                                  NaN
Col13                                                  NaN
Col14                                                  NaN
Col15                                                  NaN
Col16                                                  NaN
Col17                                                  NaN
Col18                                                  NaN
Col19                                                  NaN
Col20                                                  NaN
Name: 6, dtype: object
object
False

Col0                                         №пп
Col1                                         NaN
Col2     Шифр, номера нормативов и коды ресурсов
Col3                                         NaN
Col4                 Наименование работ и затрат
Col5                                         NaN
Col6                                    Ед. изм.
Col7                               Кол-во единиц
Col8             Цена на единицу измерения, руб.
Col9                                         NaN
Col10                                        NaN
Col11                   Поправочные коэффициенты
Col12                                        NaN
Col13                                        NaN
Col14             Коэффициенты зимних удорожаний
Col15                     Коэффициенты пересчета
Col16                         ВСЕГО затрат, руб.
Col17                                        NaN
Col18                                        NaN
Col19                                     Справ.
Col20                                        NaN
Name: 7, dtype: object
object
False

Col0                  NaN
Col1                  NaN
Col2                  NaN
Col3                  NaN
Col4                  NaN
Col5                  NaN
Col6                  NaN
Col7                  NaN
Col8                  NaN
Col9                  NaN
Col10                 NaN
Col11                 NaN
Col12                 NaN
Col13                 NaN
Col14                 NaN
Col15                 NaN
Col16                 NaN
Col17                 NaN
Col18                 NaN
Col19    ЗТР, всего чел-ч
Col20                 NaN
Name: 8, dtype: object
object
False

Col0                         NaN
Col1                         NaN
Col2                         NaN
Col3                         NaN
Col4                         NaN
Col5                         NaN
Col6                         NaN
Col7                         NaN
Col8                         NaN
Col9                         NaN
Col10                        NaN
Col11                        NaN
Col12                        NaN
Col13                        NaN
Col14                        NaN
Col15                        NaN
Col16                        NaN
Col17                        NaN
Col18                        NaN
Col19    Стоим. ед. с нач., руб.
Col20                        NaN
Name: 9, dtype: object
object
False

In [61]:
data_excel[4:14]

,Col0,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,...,Col11,Col12,Col13,Col14,Col15,Col16,Col17,Col18,Col19,Col20
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Сметная стоимость,NaN,NaN,NaN,NaN,2240845.636,NaN,NaN,тыс.руб.
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Средства на оплату труда,NaN,NaN,NaN,NaN,700949.489,NaN,тыс.руб.
6,Составлен(а) в уровне текущих (прогнозных) цен...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,№пп,NaN,"Шифр, номера нормативов и коды ресурсов",NaN,Наименование работ и затрат,NaN,Ед. изм.,Кол-во единиц,"Цена на единицу измерения, руб.",NaN,...,Поправочные коэффициенты,NaN,NaN,Коэффициенты зимних удорожаний,Коэффициенты пересчета,"ВСЕГО затрат, руб.",NaN,NaN,Справ.,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ЗТР, всего чел-ч",NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Стоим. ед. с нач., руб.",NaN
10,1,NaN,2,NaN,3,NaN,4,5,6,NaN,...,7,NaN,NaN,8,9,10,NaN,NaN,11,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Раздел 1.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN